<!DOCTYPE html>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>You're not where you want to be</title>
  {{ template "_internal/google_analytics_async.html" . }}
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Styles -->
  {{ partial "inline-css" . }}
    
</head>
<body>
  
  <!-- Global Header -->
  {{ partial "header" . }}
  <!-- End of Global Header --> 
  
  <div class="mw7 center pa4">
      <h1>Sorry, guess this didn't work out, huh?</h1>
      <p class="caption">Try using the nav</p>
  </div>
    
</body>
</html>
